{%extends "SKCMSAdminBundle:Element/Template:edit.html.twig"%}
    
{%block header2 %}{{entityParams.beautyName}} : "<span class="">{{ entity }}</span>"{%endblock%}

{%block legendEntityName%}Contenu{%endblock%}
   