{%extends "SKCMSAdminBundle:Element/Template:edit.html.twig"%}
    
{%block header2 %}
    {%  if entity.id is not null %}{{entityParams.beautyName}} : "<span class="">{{ entity }}</span>"
    {% else %}
        Ajouter {{entityParams.beautyName}}
    {% endif %}
{%endblock%}

{%block legendEntityName%}Contenu{%endblock%}
   